# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [2]:
fruits1=pd.DataFrame({'Apples':[30],'Bananas':[21]})
print(fruits1)
fruits2=pd.DataFrame([[35,21],[41,34]],index=['2017 Sales','2018 Sales'],columns=['Apples','Bananas'])
print(fruits2)

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [3]:
tourism=pd.DataFrame([['Austin',139,'Sun'],['Dallas',237,'Sun'],['Austin',139,'Mon'],['Dallas',456,'Mon']],
                     columns=['city','visitor','weekday'])
tourism

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [4]:
Sun=tourism.loc[tourism['weekday'] == 'Sun']  #先將weekday為Sunday的獨立成一個資料集
print(Sun) #查看
Mon=tourism.loc[tourism['weekday'] == 'Mon']  #先將weekday為Monday的獨立成一個資料集
print(Mon) #查看
print('Sun平均的visitor數量為:',Sun['visitor'].mean()) #再計算各自的平均visitor數量
print('Mon平均的visitor數量為:',Mon['visitor'].mean())

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
     city  visitor weekday
2  Austin      139     Mon
3  Dallas      456     Mon
Sun平均的visitor數量為: 188.0
Mon平均的visitor數量為: 297.5